@import "header_menu.css";
@import "banner.css";
@import "medea.css";


.content_wrapper {
    overflow: scroll;
    height: 100vh;
    margin-bottom: 62px;

}

.content_wrapper::-webkit-scrollbar {
    width: 0;
}
