@import "content_wrapper.css";
@import "player.css";
.content {
    margin-left: 169px;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

@media (max-width:414px) {
    .content {
        margin: 0;
    }
}