@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500;700&display=swap');
@import "aside.css";

body {
    font-family: Source Sans Pro, sans-serif;
}

.content {
    margin-left: 169px;
}

.header_menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.header_menu__search {
    background: url("../upload/Serch.svg") no-repeat 22px/18px;
    padding: 24px 0 23px 50px;
    border-right: solid 1px #EEEEEE;
    flex: 1 1 349px;
}

.header_menu__search span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.5;
}

.header_menu__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 87px;
    border-right: solid 1px #EEEEEE;
    flex: 0 0 87px;
}

.header_menu__avatar {
    flex: 0 0 246px;
    background: url("../upload/Pro Pic.png") no-repeat 23px/39px;
}

.header_menu__avatar__title {
    font-size: 12px;
    line-height: 16px;
    margin: 16px 0 0 71px;
}

.header_menu__avatar__subtitle {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #3E2AD1;
    margin: 0 0 17px 77px;
}

.header_menu__avatar__subtitle::before {
    content: url("../upload/Crown.svg");
    position: relative;
    right: 5px;
}

.banner {
    position: relative;
    background: url("../upload/Rectangle.jpg") no-repeat center/cover #e21325;
    padding: 92px 0 0 53px;
    color: #ffffff;
    overflow: auto;
}

.banner_pretitle {
    font-size: 10px;
    line-height: 14px;
}

.banner_title {
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    margin: 7px 0;
}

.banner_subtitle {
    font-size: 16px;
    line-height: 14px;
    margin-bottom: 43px;
}

.banner_button {
    font-size: 10px;
    line-height: 14px;
    color: #E6152B;
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(188, 20, 40, 1);
    border-radius: 3px;
    border: none;
    padding: 4px 16px 4px 15px;
    font-family: Source Sans Pro, sans-serif;
    margin-right:8px;
}

.banner_button_wrapper {
    margin-bottom: 48px;
    display: flex;
}

.banner_button::after {
    content: url("../upload/Play.svg");
    position: relative;
    top: 1px;
    left: 4px;
}

.banner_nex_button {
    font-family: Source Sans Pro, sans-serif;
    box-shadow: 0 2px 8px 0 rgba(188, 20, 40, 1);
    border-radius: 3px;
    border: none;
    padding: 5px;
}

.banner_nex_button img {
    display: block;
}

.banner_slider_indicators {
    position: absolute;
    display: flex;
    bottom: 9px;
    left: calc(50% - 40px);
}

.banner_slider_indicators li {
    width: 16px;
    height: 5px;
    margin-right: 5px;
    -webkit-transform: skew(340deg);
    -moz-transform: skew(340deg);
    -o-transform: skew(340deg);
    transform: skew(340deg);
    background-color: #fff;
}

.banner_slider_indicators li:nth-child(2) {
    background-color: #3E2AD1;
}

.medea {
    padding: 23px 0 0 23px;
}

.medea_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 13px;
}

.medea_FeaturedTracks {
    display: flex;
/*overflow: scroll;*/
    justify-content: space-between;
    margin-bottom: 23px;
}
/*.medea_FeaturedTracks::-webkit-scrollbar {*/
/*    width: 0;*/
/*    background: rgba(255, 255, 255, 0.0);*/
/*}*/

.medea_FeaturedTracks__track:not(:last-child) {
    margin-right: 20px;
}
.medea_FeaturedTracks__title {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #0F1E36;
    margin: 8px 0 4px 0;
}
.medea_FeaturedTracks__subtitle {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: #0F1E36;
    opacity: 50%
}

.medea_TopTracks__titles {
    display: flex;
}

.medea_TopTracks__titles div {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #0F1E36;
    margin-bottom: 21px;
    /*flex: 1 0 50px;*/
}

.medea_TopTracks__titles div:nth-child(1) {
    flex: 1 0 68px;
}

.medea_TopTracks__titles div:nth-child(2) {
    flex: 1 0 93px;
}

.medea_TopTracks__titles div:nth-child(3) {
    flex: 1 0 112px;
}

.medea_TopTracks__titles div:nth-child(4) {
    flex: 1 0 167px;
}

.medea_TopTracks__titles div:nth-child(5) {
    flex: 1 0 106px;
}

.medea_TopTracks__titles div:nth-child(6) {
    flex: 1 0 87px;
}

.medea_TopTracks__titles div:nth-child(7) {
    flex: 1 0 47px;
}

.medea_TopTracks__titles div:nth-child(8) {
    flex: 1 0 60px;
}

.medea_TopTracks__titles div:nth-child(9) {
    flex: 1 0 37px;
}

.medea_TopTracks__songs {
    display: flex;
}

.medea_TopTracks__songs div {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #0F1E36;
    opacity: 50%;
    margin-bottom: 23px;
    /*flex: 1 0 50px;*/

}

.medea_TopTracks__songs div:nth-child(1) {
    flex: 1 0 68px;
}
.medea_TopTracks__songs div:nth-child(2) {
    flex: 1 0 93px;
    width: 15px;
}

.medea_TopTracks__songs div:nth-child(3) {
    flex: 1 0 112px;
}

.medea_TopTracks__songs div:nth-child(4) {
    flex: 1 0 167px;
}

.medea_TopTracks__songs div:nth-child(5) {
    flex: 1 0 106px;
}

.medea_TopTracks__songs div:nth-child(6) {
    flex: 1 0 87px;
}

.medea_TopTracks__songs div:nth-child(7) {
    flex: 1 0 47px;
}
.medea_TopTracks__songs div:nth-child(8) {
    flex: 1 0 60px;
}

.medea_TopTracks__songs div:nth-child(9) {
    flex: 1 0 37px;
}
